@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')


*{
    font-family: "Poppins", sans-serif;

  }


  #header{
    height: 300px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:30px;
    margin-bottom: 30px
  }

  #header img{
    border-radius: 200px;
  }

#skills{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    padding: 30px 0px;
}

#skills img{
    border-radius: 150px;
    justify-content: space-around;
}

#aboutMe{
    text-align: center;
    padding:30px;
}


#socialMedias{
    padding:30px;
    text-align: center;
    background-color: grey;
}

.socialMedias {
   display: flex;
   justify-content: space-between;
}

.socialMedias a{
    font-size : 50px;
    text-decoration: none;
}