<h1 color="purple">Directive</h1>
<span color>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, magni. Asperiores nesciunt ipsum consequatur debitis iusto, mollitia pariatur molestias autem quis amet quidem rerum quo. Blanditiis quaerat beatae atque adipisci!</span>

<div>
  <input id="name" type="text" required minlength="3" validate>
  <div style="font-size: 10px; color: red; display:none"  >
    En az 3 karater girmelisiniz.
  </div>
</div>

<div>
  <input id="password" type="text" required minlength="3" >
  <div style="font-size: 10px; color: red; display:none"  >
    En az 3 karater girmelisiniz.
  </div>
</div>