<nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center mt-3">
    <h3>Home Page</h3>
    <ol class="breadcrumb ">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="row mt-2">
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-12 mt-1">
        <ul class="list-group">
            <li class="list-group-item"><input type="search" class="form-control" placeholder="Search category.."></li>
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-9 col-sm-8 col-12 mt-1">
        <div class="form-group">
            <input type="search" class="form-control" placeholder="Search product..">
        </div>

        <div class="form-group mt-1">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body text-center align-items-center">
                            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        </div>
                        <div class="card-header text-center align-items-center">
                            <h5>PC</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt distinctio assumenda
                                inventore,.</p>
                        </div>
                        <div class="card-body text-center align-items-center">
                            <h5 class="text-danger text-center"><del>12.1222.222TL</del></h5>
                            <h5 class="text-success">12.1222.222TL</h5>
                            <button class="btn btn-dark w-100">Buy Product</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>