<nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center mt-3">
    <h3>Shopping Cart Page</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
    </ol>
</nav>

<div class="row mt-2">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9-col-12"></div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3-col-12">
        <h2 class="alert alert-success">12.499</h2>
        <hr>
        <form>
            <div class="form-group">
                <label >Card Owner</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group mt-1"></div>
        </form>
    </div>

</div>