*{
    font-family: "Poppins", sans-serif;
   
}

@media screen and (max-width:1594px) {
    .contact-me{
        width: 48%!important;
    }

}

@media screen and (max-width:1532px) {
    .contact-me{
        width: 46%!important;
    }

}

@media screen and (max-width:1480px) {
    .contact-me{
        width: 100%!important;
    }
    .bune{
        width: 100%!important;
    }

}
@media screen and (max-width:1430px) {
    .contact-me{
        width: 100%!important;
    }
    .bune{
        width: 100%!important;
    }


}

@media screen and (max-width:1380px) {
    .contact-me{
        width: 100%!important;
    }
    .bune{
        width: 100%!important;
    }


}

@media screen and (max-width:998px) {

    .logo{
        padding-left: 22rem!important;
        padding-top: 10rem;
       
    }

    .naber{
        margin-top: 5rem!important;
    }

}

@media screen and (max-width:849px) {

    .logo{
        padding-left: 15rem!important;
        padding-top: 10rem;
       
    }

}

@media screen and (max-width:675px) {

    .logo{
        padding-right: 22rem;
        padding-left: 10rem!important;
    }

}



@media screen and (max-width:475px) {

    .logo{
        padding-right: 22rem;
        padding-left: 5rem!important;
    }

}

body {
    width: 100%;
    position: absolute;
    left: 0px;
    background-color: #848484;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
}